.jumbo-background {
    background-color:#f2f2f2;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color:#f9f1c6;
    text-shadow: 2px 2px 4px #000000;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  z-index:5;
  position: fixed;
  width: 100%;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #000;
  padding: 25px;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #2e1003; vertical-align: middle;}
.box > .icon:hover > .image { background: #401102; }
.box > .icon > .image > i { font-size: 36px !important; color: #f9f1c6 !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #999; border-radius: 2px; padding: 15px 0 10px 0; box-shadow: 6px 6px 4px #888888;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #604201; color: white; box-shadow: 10px 10px 5px #888888;}
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #2e1003;}
.box .space { height: 30px; }
.box-row{margin-top:8%; margin-bottom:4%;}	

